<div class="mx-auto px-56 py-5 flex flex-col" >
  <h1 class="text-3xl font-bold pb-3">New user</h1>

  <div>
    <%= render "form", user: @user %>
    <%= link_to "Back to users", users_path, class: "rounded-lg py-3 px-5 bg-gray-300 text-black
        inline-block font-medium cursor-pointer" %>
  </div>

</div>
