<div class="mx-auto px-5 py-5 flex flex-col">
  <h1 class="text-3xl mx-auto">Editing product</h1>

  <div class="mx-auto">
    <%= render "form", product: @product %>
  </div>

  <br>

  <div>
    <%= link_to "Show this product", @product %> |
    <%= link_to "Back to products", products_path %>
  </div>
</div>