<div class="mx-auto px-32 py-5 flex flex-col" >
  <h1 class="text-3xl mx-auto">New product</h1>

  <div>
    <%= render "form", product: @product %>
    <%= link_to "Back to products", products_path, class: "rounded-lg py-3 px-5 bg-gray-300 text-black
        inline-block font-medium cursor-pointer" %>
  </div>

</div>
